<h2>Estadísticas</h2>

   <p>Preguntas: <%= estadisticasDatos.numPreguntas %><br />   
        Con comentarios: <%= estadisticasDatos.numPreguntasConComentarios %><br />
        Sin comentarios: <%= estadisticasDatos.numPreguntasSinComentarios %>
    </p>    
    <br />
    <p>Comentarios: <%= estadisticasDatos.numComentarios %><br />
        Publicados: <%= estadisticasDatos.numComentariosPublicados %><br />
        No publicados: <%= estadisticasDatos.numComentariosNoPublicados %><br />
        Media de comentarios: <%= estadisticasDatos.mediaComentarios %>
    </p>
    
    

